#table-list-main {
  .pagination-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  #table-container {
    #table {
      width: 100%;
      display: table;
      text-align: left;

      #table-header-container {
        background-color: #bababa81;
        width: 100%;

        .table-header {
          padding: 6px 8px;
          min-height: 31px;
          line-height: 130%;
          font-size: 0.8vw;
          font-weight: bold;
        }

        .table-header-1 {
          width: 30%;
        }

        .table-header-2 {
          width: 50%;
        }

        .table-header-3 {
          width: 20%;
        }
      }

      tbody {
        tr:nth-child(even) {
          background-color: #f3f3f3;
        }

        tr:nth-child(odd) {
          background-color: #f3f3f326;
        }

        tr:hover {
          background-color: #f3f3f3;
          transition: background-color 0.35s;
        }

        .table-item {
          padding: 6px 8px;
          min-height: 31px;
          font-size: 0.8vw;

          .item-link {
            text-decoration: none;
          }
        }
      }
    }
  }
}
