.success {
  background-color: #b4e1bf;
  color: #036019;
}

.error {
  background-color: #f1c4c4;
  color: #990404;
}

.message-box {
  border-radius: 10px;
  text-align: left;
  padding: 10px;
  margin-bottom: 20px;
}
