#form {
  #form-input-container {
    width: 100%;
    padding-bottom: 50px;
    border-bottom: solid 1px rgba(51, 51, 51, 0.16);

    #form-input-inner {
      width: 30%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;

      .form-input-card {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 30px;

        .form-items-error-label {
          width: 100%;
          text-align: left;
          font-size: 0/8vw;
          color: #d43228;
        }

        .form-input-label {
          width: 100%;
          text-align: left;
          margin-bottom: 5px;
        }

        .form-input-wrapper {
          position: relative;
          display: flex;
          flex: auto;
        }

        .form-input {
          width: 100%;
          background: #ffffff;
          padding: 5px 0 5px 16px !important;
          transition: 0.1s ease-in;
          font-size: 13px;
          border-radius: 3px;
          border: 1px solid #b0b0b0;
          outline: none;
          color: rgba(51, 51, 51, 0.4);

          &::placeholder {
            color: rgba(51, 51, 51, 0.4);
          }
        }

        .display-password-btn-container {
          position: absolute;
          top: 15%;
          right: 1%;
          z-index: 10;

          .display-password-btn-cover {
            cursor: pointer;
            position: absolute;
            top: -3px;
            left: 0;
            z-index: 20;
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            background-color: transparent;
          }
        }
      }
    }
  }

  #button-container {
    margin-top: 15px;

    .form-button {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      min-height: 28px;
      width: 8vw;
      line-height: 1;
      padding: 4px 16px;
      margin: 0 10px;
      border-radius: 4px;
      border: none;
      font-size: 13px;
      font-weight: 700;
      transition: 0.1s ease-in;
      cursor: pointer;
    }

    #submit-btn {
      background-color: #265d36;
      color: white;
      box-shadow: 0px 0px 4px rgb(0 0 0 / 4%);

      &:hover {
        background-color: #154323;
      }
    }

    #delete-btn {
      background-color: #e95454;
      color: white;
      box-shadow: 0px 0px 4px rgb(0 0 0 / 4%);

      &:hover {
        background-color: #ce4040;
      }
    }
  }
}
